<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>WP lab - Delivery Info</title>
    <style type="text/css">
      body {
        width: 800px;
        margin: auto;
      }
      table {
        width: 100%;
      }

      table, td, th {
        border: 1px solid black;
        padding: 3px 2px;
      }

      section {
        float: left;
        margin: 0 1.5%;
        width: 63%;
      }

      aside {
        float: right;
        margin: 0 1.5%;
        width: 30%;
      }
    </style>
  </head>
  <body>

  <header th:replace="fragments/header"></header>
    <section>

      <form method="POST" action="/ConfirmationInfo">
        <input type="datetime-local" name="dateCreated"/>
        <button name="submit" value="Submit">Submit</button>
      </form>

    </section>
    <aside>
      <table>
        <tr>
          <th colspan="2">
            Your Order Status
          </th>
        </tr>

        <tr>
          <td><b>Balloon Color </b></td>
          <td th:text="${#request.getSession().getAttribute('balloonColor')}"></td>
        </tr>
        <tr>
          <td><b>Balloon Size </b></td>
          <td th:text="${#request.getSession().getAttribute('balloonSize')}"></td>
        </tr>
      </table>
    </aside>
  </body>
</html>