<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>BalloonList</title>
    <style type="text/css">
      body {
        width: 800px;
        margin: auto;
      }
    </style>
  </head>
  <body>

  <header th:replace="fragments/header"></header>
    <main>
      <div th:if="${hasError}">
        <div>
          <h1 th:text="${error}"></h1>
        </div>
      </div>
      <table class="table">
        <thead>
           <th>Name</th>
           <th>Description</th>
           <th>Delete</th>
           <th>Edit</th>
        </thead>
        <tbody>
          <tr th:each="balloon : ${balloonList}">
            <td>
              <h7 th:text="${balloon.getName()}"></h7>
            </td>
            <td>
              <h7 th:text="${balloon.getDescription()}"></h7>
            </td>
            <td sec:authorize="hasRole('ROLE_ADMIN')">
              <form th:action="@{/balloons/delete/{id} (id=${balloon.getId()})}" th:method="delete">
                <button type="submit" class="btn btn-danger">
                  <i class="fa fa-trash">Delete</i>
                </button>
              </form>
            </td>
            <td sec:authorize="hasRole('ROLE_ADMIN')">
              <form th:action="@{/balloons/edit-form/{id} (id=${balloon.getId()})}" th:method="get">
                <button type="submit" class="btn btn-primary">
                  <i>Edit</i>
                </button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
      <a sec:authorize="hasRole('ROLE_ADMIN')" href="/balloons/add-form" class="btn btn-primary">Add Balloon</a></br>
      <form action="/" method="post">
        <th:block th:each="balloon : ${balloonList}">
          <input type="radio" name="balloonColor" th:value="${balloon.name}" th:text="${balloon.name} + ' (' + ${balloon.description} + ')'"></br>
        </th:block>
        <input type="submit" value="Submit">
      </form>
      <br/>

    </main>
  </body>
</html>