<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
<h1>Orders</h1>
<table border="1">
    <td>OrderID</td>
    <td>clientName</td>
    <td>clientAddresss</td>
    <td>balloonSize</td>
    <td>balloonColor</td>
    <th:block th:each="order : ${ordersList}">
        <tr>

            <td th:text="${order.orderId}"></td>
            <td th:text="${order.clientName}"></td>
            <td th:text="${order.clientAddress}"></td>
            <td th:text="${order.balloonSize}"></td>
            <td th:text="${order.balloonColor}"></td>
        </tr>
    </th:block>
</table>

</body>
</html>